.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/out/*
!data/out/.gitkeep
data/processed/*
!data/processed/.gitkeep
plots/*
!plots/.gitkeep
reports/*.html
node_modules
.dropbox
Icon
Icon\r
"Icon\r"
